{% extends "base_authentication.html" %}

{% block title %}
    <title>Register</title>
{% endblock %}
{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center mb-4">Register</h1>
                {% if messages %}
                    <ul class="messages list-unstyled">
                        {% for message in messages %}
                            <li class="alert
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}alert-success
                                {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}alert-danger
                                {% else %}alert-info
                                {% endif %}">
                                {{ message }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="card">
                    <div class="card-body">
                        <form action="{% url 'register_authentication' %}" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="text-center">
                                <button type="submit" class="btn btn-success">Register</button>
                            </div>
                        </form>
                        <div class="text-center mt-3">
                            <a href="{% url 'login_authentication' %}">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}