{% extends "base_helpdesk.html" %}

{% block title %}
    <title>Ticket #{{ticket.id}}</title>
{% endblock %}

{% block content %}
    <h5>{{ticket.title}}</h5>
    <h5>{{ticket.content}}</h5>
    <h5>{{ticket.user_name}}</h5>
    <h5>{{ticket.created_at}}</h5>
    <h5>{{ticket.status}}</h5>
    <h5>{{ticket.responsible.username}}</h5>
    {% if ticket.attachment %}
        <img src="{{ ticket.attachment.url }}" alt="Attachment Image" style="max-width:100%; height:auto;">
    {% endif %}
    {% if ticket.responsible == user %}
        <a href="{% url 'change_tickets' ticket.id %}">Change</a>
    {% endif %}
    <h2>Comment</h2>
    <form method="post" action="{% url 'new_comments' ticket.id %}">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-success">Send</button>
    </form>
    {% for comment in ticket.comment_set.all %}
        
        <h3>{{comment.user.username}}</h3>
        <h5>{{comment.content}}</h5>

    {% endfor %}
    
{% endblock %}