{% extends "base_helpdesk.html" %}

{% block title %}
    <title>New ticket</title>
{% endblock %}

{% block content %}
    <h1>New ticket</h1>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="{% url 'new_tickets' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Create</button>
    </form>
    <style>
        .form-textarea {
            height: 200px; /* Set the desired height */
            resize: none;  /* Disable resizing */
        }
    </style>
{% endblock %}