{% extends "base_helpdesk.html" %}

{% block title %}
    <title>Notifications</title>
{% endblock %}

{% block content %}

    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <h3>Notifications</h3>
            </div>
            <ul class="list-group list-group-flush">
                {% for notification in notifications %}
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between">
                            <a href="{{ notification.content }}" class="text-decoration-none text-primary">
                                <i class="fas fa-bell"></i> {{ notification.title }}
                            </a>
                            <small class="text-muted">{{ notification.created_at|date:"F d, Y H:i" }}</small>
                        </div>
                    </li>
                {% empty %}
                    <li class="list-group-item text-muted">No notifications at the moment.</li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}