{% extends "base_helpdesk.html" %}

{% block title %}
    <title>Profile</title>
{% endblock %}

{% block content %}
    <h1>Change profile</h1>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Save</button>
    </form>

    <style>
        .form-textarea {
            height: 200px;
            resize: none;
        }

        .form-textarea-sm {
            height: 25px;
            resize: none;
        }
    </style>
{% endblock %}